* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tela {
  display: grid;
  grid-template-columns: repeat(12, 20px);
  background-color: #003108;
}

.noGrid {
  background-color: #222121;
  border: 1px solid;
  box-shadow: 2px 1px 1px #003108;
  width: 20px;
  height: 20px;
}

.grid {
  width: 20px;
  height: 20px;
}
.container {
  margin: 40px;
}

.score {
  margin: 15px 0;
}

.botoes button {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin: 5px ;
  background-color: rgb(0, 92, 20);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.botoes button:nth-child(1) {
  margin-left: 0;
}
.botoes button:nth-child(4) {
  margin-right: 0;
  width: 30px;
}

.btn {
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(0, 92, 20);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.red {
  background: linear-gradient(rgb(250, 0, 0), rgb(184, 18, 18), rgb(66, 0, 0));
  border: 1px solid;
}
.blue {
  background: linear-gradient(
    rgb(25, 0, 250),
    rgb(17, 0, 110),
    rgb(41, 16, 110)
  );
  border: 1px solid;
}
.green {
  background: linear-gradient(rgb(0, 75, 4), rgb(23, 109, 41), rgb(0, 51, 15));
  border: 1px solid;
}
.yellow {
  background: linear-gradient(
    rgb(233, 250, 0),
    rgb(185, 174, 7),
    rgb(110, 101, 16)
  );
  border: 1px solid;
}
.orange {
  background: linear-gradient(
    rgb(250, 150, 0),
    rgb(110, 66, 0),
    rgb(230, 169, 2)
  );
  border: 1px solid;
}


.game-over{
  display: none;
}